.expense-item__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  }
  
  .expense-date__day {
    font-size: 2rem;
    font-weight: bold;
    color: #3b5998;
  }
  
  .expense-date__month {
    font-size: 1.25rem;
    font-weight: bold;
    color: #3b5998;
  }
  
  .expense-date__year {
    font-size: 1rem;
    font-weight: bold;
    color: #3b5998;
  }
  